@import url(reset.css);
@import url(normalizw.css);

/* ========== FONTS ========== */

@import url(fonts.css);

.wrapper {
    width: 1600px;
}

a {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
    color: #212121;
}

p {
    font-family: "Roboto";
    color: #757575;
}

[class*="__container"] {
    width: 1170px;
    margin: 0 auto;
}

/* ========== header ========== */

header {
    border-bottom: 1px solid #ececec ;
}

.header__container {
    gap: 309px;
    display: flex;
}

.header__content {
    gap: 90px;
    height: 80px;
    display: flex;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo a {
    font-size: 26px;
    font-family: "Raleway";
    font-weight: 700;
    line-height: auto;
    letter-spacing: 3%;
}

.header__logo span {
    color: #2196F3;
}

.header__nav {
    display: flex;
}

.header__menu {
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list a {
  position: relative;
  display: inline-block;
}

.header__list a:hover,
.header__link:hover {
    color: #2196F3;
    transition: color 0.2s;
}

.header__list a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2196F3;
  bottom: -32px;
  opacity: 0;
  border-radius: 2px;
}

.header__list a:hover::after {
  opacity: 1;
}

.header__contacts {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    display: inline-flex;
    align-items: center;
    color: #757575;
}

.header__icon-mail {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.header__icon-mail {
  background-image: url("../img/header/envelope.svg");
}
.header__link:hover .header__icon-mail {
  filter: brightness(0) saturate(100%) invert(48%) sepia(98%) saturate(2423%) hue-rotate(178deg) brightness(98%) contrast(102%);
}

.header__icon-phone {
    display: inline-block;
    width: 10px;
    height: 16px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.header__icon-phone {
  background-image: url("../img/header/phone.svg");
}
.header__link:hover .header__icon-phone {
  filter: brightness(0) saturate(100%) invert(48%) sepia(98%) saturate(2423%) hue-rotate(178deg) brightness(98%) contrast(102%);
}

/* ========== main ========== */
/* ---------- hero ---------- */

.hero {
    background-image: url("../img/main/hero/hero.jpg");
    height: 600px;
    position: relative;
    text-align: center;
}

.hero .hero__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.hero::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background-color: rgba(47, 48, 54, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero__title {
    width: 550px;
    font-family: "Roboto";
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.hero__button {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    padding: 10px 24px;
    border-radius: 4px;}
